* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Контейнер */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: 720px;
  background-color: #fff;
  padding: 40px 20px 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

/* Зображення */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.image-section img {
  width: 100%;
  max-width: 280px;
  height: auto;
  object-fit: contain;
}

/* Текст */
.content {
  text-align: center;
  padding: 0 5px;
}

.title {
  background-color: #ff5e57;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  padding: 12px 24px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 18px;
}

.description {
  color: #6b6b6b;
  font-size: 13px;
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
}

/* Нижня панель */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

/* Кнопки */
.btn {
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.skip {
  background-color: #f4f4ff;
  color: #a1a1a1;
}

.next {
  background-color: #ff5e57;
  color: #fff;
}

/* Точки */
.dots {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e0e0e0;
}

.dot.active {
  background-color: #ff5e57;
  width: 10px;
  height: 10px;
}
